@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family:'Roboto', sans-serif;
    background-color: rgb(55, 57, 57);
    color: white;
}

button {
    font-size: 25px;
    font-weight: 700;
    width: 150px;
    height: 150px;
    margin: 15px;
    background-color: white;
    border-radius: 25px;
    border: 0;
}

button:hover {
    opacity: 50%;
}

h1 {
    font-size: 60px;
    margin-top: 25px;
    margin-bottom: 0;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 30px;
    margin: 15px;
}